{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="flex justify-center items-center">
            <div class="bg-white p-6 rounded-lg w-full lg:w-3/4">
                <h1 class="text-4xl">Disponibilidades</h1>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100 border border-base-300">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title font-semibold">Lançamentos - Caixa</div>
          <div class="collapse-content">
            <table class="table border-b border-gray-200 border border-green-200 divide-y divide-gray-200">
                <thead class="text-xs text-green uppercase">
                    <tr>
                        <th>Data</th>
                        <th>Descricao</th>
                        <th>Débito</th>
                        <th>Crédito</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for transaction in caixa %}
                        <tr>
                            <td>{{ transaction.data }}</td>
                            <td>{{ transaction.descricao }}</td>
                            <td>{% if transaction.debito > 0 %} R$ {{ transaction.debito }} {% else %} - {% endif %}</td>
                            <td>{% if transaction.credito > 0 %} R$ {{ transaction.credito }} {% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td> R$ {{ caixa_debito.total }}</td>
                        <td> R$ {{ caixa_credito.total }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100 border border-base-300">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title font-semibold">Lançamentos - Banco</div>
          <div class="collapse-content">
            <table class="table border-b border-gray-200 border border-green-200 divide-y divide-gray-200">
                <thead class="text-xs text-green uppercase">
                    <tr>
                        <th>Data</th>
                        <th>Descricao</th>
                        <th>Débito</th>
                        <th>Crédito</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for transaction in banco %}
                        <tr>
                            <td>{{ transaction.data }}</td>
                            <td>{{ transaction.descricao }}</td>
                            <td>{% if transaction.debito > 0 %} R$ {{ transaction.debito }} {% else %} - {% endif %}</td>
                            <td>{% if transaction.credito > 0 %} R$ {{ transaction.credito }} {% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td> R$ {{ banco_debito.total }}</td>
                        <td> R$ {{ banco_credito.total }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100 border border-base-300">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title font-semibold">Lançamentos - Cartão</div>
          <div class="collapse-content">
            <table class="table border-b border-gray-200 border border-green-200 divide-y divide-gray-200">
                <thead class="text-xs text-green uppercase">
                    <tr>
                        <th>Data</th>
                        <th>Descricao</th>
                        <th>Débito</th>
                        <th>Crédito</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for transaction in cartao %}
                        <tr>
                            <td>{{ transaction.data }}</td>
                            <td>{{ transaction.descricao }}</td>
                            <td>{% if transaction.debito > 0 %} R$ {{ transaction.debito }} {% else %} - {% endif %}</td>
                            <td>{% if transaction.credito > 0 %} R$ {{ transaction.credito }} {% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td> R$ {{ cartao_debito.total }}</td>
                        <td> R$ {{ cartao_credito.total }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    {% endif %}
{% endblock %}