{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="flex justify-center items-center">
            <div class="bg-white p-6 rounded-lg w-full lg:w-3/4">
                <h1 class="text-4xl">Financeiro</h1>
            </div>
        </div>
        <div class="md:flex md:overflow-x-auto md:flex-row gap-2">
          <div class="stat bg-gray-100 border black shadow rounded text-center">
            <div class="stat-title">Valores a Receber</div>
            <div class="stat-value">R$ {{ receber_aberto.aberto }}</div>
            <div class="stat-desc">Todos os Períodos</div>
          </div>
          <div class="stat bg-gray-100 border black shadow rounded text-center">
            <div class="stat-title">Inadimplência de Clientes</div>
            <div class="stat-value">{{ receber_inadimplencia.inadimplencia }} %</div>
            <div class="stat-desc">Todos os Períodos</div>
          </div>
          <div class="stat bg-gray-100 border black shadow rounded text-center">
            <div class="stat-title">Valores a Pagar</div>
            <div class="stat-value">R$ {{ pagar_aberto.aberto }}</div>
            <div class="stat-desc">Todos os Períodos</div>
          </div>
          <div class="stat bg-gray-100 border black shadow rounded text-center">
            <div class="stat-title">Inadimplência Própria</div>
            <div class="stat-value">{{ pagar_inadimplencia.inadimplencia }} %</div>
            <div class="stat-desc">Todos os Períodos</div>
          </div>
        </div>
        <div class="md:flex md:overflow-x-auto md:flex-row gap-4 mt-10 ">
          <div class="stat bg-gray-100 border black shadow rounded text-center">
            <div class="stat-title">Lançamentos Financeiro</div>
            <div class="stat-value">{{ chart_financeiro_operacao|safe }}</div>
            <div class="stat-desc">Referencia: {{ referencia.sigla }}</div>
          </div>
        </div>

    {% endif %}
{% endblock %}