<div class="navbar bg-gray-500 shadow-sm">
    {% if user.is_authenticated %}
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="White" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
                </div>
                <ul
                    tabindex="-1"
                    class="menu menu-sm dropdown-content bg-gray-500 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a href="{% url 'index' %}" class="text-base text-white">Início</a></li>
                    <li></li>
                    <li><a href="{% url 'clientes' %}" class="text-base text-white">Clientes</a></li>
                    <li><a href="{% url 'produtos' %}" class="text-base text-white">Produtos</a></li>
                    <li><a href="{% url 'mercadorias' %}" class="text-base text-white">Mercadorias</a></li>
                    <li><a href="{% url 'producao' %}" class="text-base text-white">Produção</a></li>
                    <li></li>
                    <li><a href="{% url 'financeiro' %}" class="text-base text-white">Financeiro</a></li>
                    <li><a href="{% url 'resultado' %}" class="text-base text-white">Resultado</a></li>
                    <li><a href="{% url 'disponibilidade' %}" class="text-base text-white">Disponibilidade</a></li>
                    <li></li>
                    <li><a href="{% url 'consulta' %}" class="text-base text-white">Consulta</a></li>
                    <li></li>
                    <li><a href="{% url 'admin:index' %}" class="text-base text-white">Administração</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost text-xl text-white">Biano Gourmet</a>
        </div>
        <div class="navbar-end">
            <a href="{% url 'account_logout' %}" class="text-base text-white">Logout</a>
        </div>
    {% else %}
        <div class="navbar-start">
            <a class="btn btn-ghost text-xl text-white">-</a>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost text-xl text-white">Biano Gourmet</a>
        </div>
        <div class="navbar-end">
            <a href="{% url 'account_login' %}"  class="text-base text-white">Login</a>
            <a class="btn btn-ghost text-xl text-white">-</a>
        </div>
    {% endif %}
</div>
